:root {
  --color-text: #000;
  --color-bg: #fff;

  --color-header-bg: #fff;
  --color-header-border: #ccc;

  --color-link-active: #3c69d5;
  --color-link-hover: #0a58fa;
  --color-link-visited: #5a78b8;

  --color-light-grey: #ccc;
  --color-mid-grey: #777777;
  --color-dark-grey: #4c4c4c;
  --color-mid-red: #ff0000;
  --color-mid-red-hover: #d70000;
  --color-mid-green: #40bf2b;

  --container-padding: 1rem;

  --input-padding: 0.3rem 0.5rem;
  --input-margin-v: 0.3rem 0;
  --input-round: 0.3rem;
  --input-border-normal: 1px solid #ccc;
  --input-border-fail: 1px solid red;
  --input-border-ok: 1px solid #40bf2b;

  --header-height: 6rem;
  --header-padding: 0.5rem;
}

