#top-input {
    display: block;
    position: relative;

    input {
        width: 100%;
        border: 0;
        border-radius: 0;
        border-bottom: var(--input-border-normal);
    }

    .note {
        position: absolute;
        top: 0;
        right: 0;
    }

    &.success {
        input {
            border-bottom: var(--input-border-ok);
            &::placeholder {
                color: var(--color-mid-green);
                opacity: 0.3;
            }
        }
    }

    &.fail {
        input {
            border-bottom: var(--input-border-fail);
            &::placeholder {
                color: var(--color-mid-red);
                opacity: 0.3;
            }
        }
    }
}