header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    padding-top: var(--container-padding);
    background-color: var(--color-header-bg);
    width: 100%;
    z-index: 99;
    text-align: center;
}
